<div class="block">
  <ul class="currencies">
    <li *ngFor="let curr of defaultCurrencies; let i = index" (click)="handleCurrencyStrChange(curr)" [ngClass]="{'active':
    curr === currency.currency}">{{curr}}
    </li>
    <li>
      <svg height="50px" viewBox="0 0 50 50" width="50px">
        <rect fill="none" height="50" width="50" />
        <polygon points="47.25,15 45.164,12.914 25,33.078 4.836,12.914 2.75,15 25,37.25 " />
      </svg>
    </li>
  </ul>
  <input type="number" minlength="0" min="0" placeholder="Any number" [value]="(currency.value)"
         (input)="handleValueChange($event)"/>
</div>
